<!DOCTYPE html>
<html lang="ar">
<head>
	<!-- Add additional CSS in static file -->
  {% load static %}
  {% block title %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'cAccounts/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'cAccounts/css/chosen.min.css' %}" />
  <link rel="stylesheet" href="{% static 'cAccounts/css/style.css' %}" />
  <script src="{% static 'cAccounts/js/jquery.min.js' %}"></script>
  <style>{% block style %}{% endblock %}
  </style>
</head>
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<body>
	<div class="container-fluid text-right" dir="rtl">
	    <div></div>
    	{% block content %}{% endblock %}

	</div>
  <script src="{% static 'cAccounts/js/jquery.min.js' %}"></script>
  <script src="{% static 'cAccounts/js/popper.min.js' %}"></script>
  <script src="{% static 'cAccounts/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'cAccounts/js/htmx.js' %}"></script>
  <script src="{% static 'cAccounts/js/chosen.js'%}"></script>
  {% block script %}{% endblock %}
</body>
</html>