{% extends "collect/index.html" %}    
{% load static %}

{% block title %}
    <title>سجل متابعة تعاقد العملاء</title>
{% endblock %}

{% block style %}
    <!-- Your styles go here -->
{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-10 m-auto">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="ابحث بالاسم او السريال او المنطقة" aria-label="Recipient's Name" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="submit">ابحث</button>
                </div>
            </form>
            <p class="bg-light text-right d-inline-block p-3 m-1 h6">
                عدد العملاء : <span class="text-primary">{{total_count}}</span>
            </p>
            <button class="btn btn-danger w-50 h3"  data-toggle="modal" data-target="#newCollectOrderModel" style="margin-right:10rem">انشاء طلب تحصيل</button>    
            
        </div>
        <div class="modal fade" id="newCollectOrderModel" tabindex="-1" role="dialog" aria-labelledby="newCollectOrderModelTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">تفاصيل طلب التحصيل</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>اختار المحصل</label>
                            <select class="select form-control" name="collector">
                                {% for collector in collectors %}
                                <option value="collector.id">{{collector.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>تاريخ بدء التحصيل</label>
                            <input type="date" class="form-control" name="collectStartDate">
                        </div>
                        <div class="form-group">
                            <label>سريال دفتر التحصيل</label>
                            <input type="" class="form-control" name="daftrSerial">
                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ml-2 collect-btn">تأكيد وحفظ</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10"  style="position: fixed; top: 16rem; display: inline-block; left: 0rem; z-index:2; overflow:scroll; height:67vh">
            <table class="table table-bordered table-sm text-center table-hover table-striped" >
                <thead>
                    <tr>
                        <th>السريال</th>
                        <th>الاسم</th>
                        <th>المنطقة</th>
                        <th>طلب تعديل البيانات</th>
                        <th>تاريخ التحصيل التالى</th>
                        <th>اضافة لطلب التحصيل</th>

                    </tr>
                </thead>
                <tbody>
                    {% for follow in follows %}
                        <tr>
                            <td>{{ follow.clientt.serial }}</td>
                            <td>{{ follow.clientt.name }}</td>
                            <td>{{ follow.clientt.place.name }}</td>
                            <td>
                                <a class="btn btn-info" href="#">طلب تعديل البيانات أو التعاقد</a>
                            </td>
                            <td>
                                {{follow.ecd|date:"Y-m-d"}}
                            </td>

                            <td>
                                <input type="checkbox" class="client-checkbox form-control" style=" height: 2rem; " checked value="{{follow.id}}">
                                <input type="hidden" value={{follow.id}}>
                            </td>
                        </tr>

                    {% empty %}
                        <li>No client found.</li>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    // Collect selected clients and send to backend
    $('.collect-btn').click(function() {
        var selectedClients = [];
        $('.client-checkbox:checked').each(function() {
            selectedClients.push($(this).next().val());
        });
        console.log("selectedClients=> ", selectedClients)

        // Send selected clients to backend using API
        $.ajax({
            url: '/api/new_colect_order/',
            method: 'POST',
            data: {
                'clients': selectedClients
            },
            success: function(response) {
                // Handle success response
            },
            error: function(error) {
                // Handle error response
            }
        });
    });
{% endblock %}
