<!DOCTYPE html>
<html lang="ar">
<head>
	<!-- Add additional CSS in static file -->
  {% load static %}
  {{ form.media }}
  {% block title %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'cAccounts/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'cAccounts/css/chosen.min.css' %}" />
  <link rel="stylesheet" href="{% static 'cAccounts/css/chosen-sprite.png' %}" />
  <link rel="stylesheet" href="{% static 'cAccounts/css/style.css' %}" />
  <script src="{% static 'cAccounts/js/jquery.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
  <style>
    .btn-custom{
      /*background-color:#6c757d00 !important;*/
      /*border:none;*/
    }
  {% block style %}
  {% endblock %}
  </style>
</head>
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<body>
	<div class="container-fluid text-right" dir="rtl">
	    <div class="row">
	        <div class="col-12">
	            <div class="float-right">
	                {% comment %} <img class="w-100" src="https://drive.google.com/uc?id=1ocKY9NAlM4rVEtlr7D8OaJN3s48UbiNe" > {% endcomment %}
	            </div>
	            <div class="float-left">
	                <div class="dropdown">
                        <button class="btn dropdown-toggle" style="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle fa-2x text-danger" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu bg-dark text-right text-white" aria-labelledby="dropdownMenuButton">
                            <h5 class="bg-primary text-white">مرحبا {{request.user.get_short_name}}</h5>
                            <a class="dropdown-item text-white" href="#">الملف الشخصى</a>
                            <a class="dropdown-item text-white" href="#">الاشعارات</a>
                            <a class="dropdown-item text-white" href="/cAccounts/logout">تسجيل الخروج</a>
                        </div>
                    </div>
	            </div>
	        </div>
	    </div>
    	<div class="row" style="height:89vh">
    	    <div class="col-2 pt-5 text-white" style="background-color:#30393D">
                <a href="#" class="">
                    <button class="btn btn-secondary w-100 m-2  btn-custom">ملخص / نبذه</button>
                </a>
                <a href="{% url 'collect:list' %}" class="">    
                    <button class="btn btn-secondary w-100 m-2  btn-custom">سجل تحصيل العملاء</button>
                </a>
                <a href="#" class="">
                    <button class="btn btn-secondary w-100 m-2  btn-custom" >انشاء طلب تحصيل جديد</button>
                </a>
                <a href="#" class="">
                    <button class="btn btn-secondary w-100 m-2  btn-custom">ادارة تحصيل العملاء</button>
                </a>
                <a href="#" class="">
                    <button class="btn btn-secondary w-100 m-2  btn-custom">متابعة طلبات التحصيل الجارية</button>
                </a>
                <a href="#" class="">
                    <button class="btn btn-secondary w-100 m-2  btn-custom">سجل المحصلين</button>
                </a>
                <a href="#" class="">
                    <button class="btn btn-secondary w-100 m-2  btn-custom">ما تم تحصيله</button>
                </a>
    	    </div>
    	    <div class="col-10">
                {% block content %}{% endblock %}
    	    </div>
    	</div>

	</div>

    <script src="{% static 'cAccounts/js/jquery.min.js' %}"></script>
    <script src="{% static 'cAccounts/js/popper.min.js' %}"></script>
    <script src="{% static 'cAccounts/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cAccounts/js/htmx.js' %}"></script>
    <script src="{% static 'cAccounts/js/chosen.js'%}"></script>
    <script>
        {% block script %}
        {% endblock %}
    </script>

    <script>
</script>
</body>
</html>