{% extends "DataEntry/index.html" %}
{% load static %}

{% block title %}
    <title>سجل العملاء</title>
{% endblock %}

{% block style %}
    <!-- Your styles go here -->
{% endblock %}

{% block content %}
<div class="content-container pt-2" style="background-color:#F3F5F2">
    <div class="row">
        <div class="col-10 m-auto">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="ابحث بالاسم او السريال او المنطقة" aria-label="Recipient's Name" aria-describedby="button-addon2">
                    <button class="btn btn-info" type="submit">ابحث</button>
                </div>
            </form>
            <p class="bg-light p-1 m-1 h6">
                عدد العملاء : <span class="d-inline-block text-primary">{{total_count}}</span>
            </p>
            <table class="table table-bordered table-sm text-center table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>الاسم</th>
                        <th>المنطقة</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.place.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


