<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="يهدف مشروع اسوان جرين للحفاظ علي البيئة و توفير مئات فرص العمل لشباب اسوان"
    />
    <title>اسوان جرين | من نحن</title>

    <link rel="stylesheet" href="./static/stylesheets/index.css" />
  </head>
  <body>
    <header class="navbar">
      <a href="./index.html">
        <img
          class="navbar__logo"
          src="./static/assets/images/logo.webp"
          alt="logo"
        />
      </a>
      <button class="nav-toggler" aria-label="toggle nav">
        <svg
          class="nav-toggler__icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
      </button>
      <nav class="navbar__nav">
        <button class="nav__close" aria-label="close nav">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            />
          </svg>
        </button>
        <section class="nav__body">
          <a class="navbar__link" href="./index.html">الرئيسية</a>
          <a class="navbar__link" href="./our-services.html">خدماتنا</a>
          <a class="navbar__link active" href="./about-us.html">من نحن؟</a>
          <a class="navbar__link" href="./contact-us.html">تواصل معنا</a>
          <a class="btn btn--blue" href="./login">تسجيل الدخول</a>
        </section>
      </nav>
    </header>

    <main>
      <section class="section section--grey section--first">
        <div class="container section__grid align-start">
          <section>
            <h3 class="section-title">من نحن؟</h3>
            <section class="paragraph-section mt-3">
              <p>
                اسوان جرين هو احد مشروعات الجمعية المصرية للتنمية المتكاملة يهدف
                الي المحافظة علي البيئة و جمع المخلفات بطريقة امنة و اعادة
                تدويرها ويقوم المشروع بتوفير العديد من فرص العمل لشباب اسوان,
                كما ان المشروع يخدم التحول الرقمي و هي احدي المحاور التي اشارت
                اليها القيادة السياسية
              </p>
              <p>
                حيث يتم عمل كود استجابة سريعة (QR code) لكل عميل يتم من
                خلالةالتأكد من تقديم الخدمة بشكل سليم, و يوجد ايضا تطبيق
                للاندرويد يستطيع العميل من خلالة ادارة ملفه الشخصي و التواصل مع
                خدمة العملاء,
              </p>
            </section>
          </section>
          <img
            class="about-us__img"
            src="./static/assets/images/about-us.webp"
            alt="صورة لفريق اسوان جرين"
          />
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h3>يشمل مشروع اسوان جرين عدة محاور</h3>
          <ol>
            <li>
              المحور الاول و هو مشروع المحطة الوسيطة حيث يتم فرز المخلفات و
              تجهيزها لإعادة التدوير و الاستخدام مرة اخري
            </li>
            <li>
              المحور الثاني و هو محور التشجير و النظافة العامة للشوارع في
              المحافظة.
            </li>
            <li>
              المحور الثالث وهو خدمات الرش و التعقيم و مكافحة الحشرات و
              الفيروسات.
            </li>
            <li>
              المحور الرابع و هو محور التوعية و الورش التحفيزية و المسابقات بين
              المدارس و تعليم ابناءنا الفصل بين المخلفات و اعادة التدوير و
              المحافظة علي المياه و الكهرباء و استخدام مصادر الطاقة المتجددة.
            </li>
            <li>
              المحور الخامس و يشمل الخدمات المنزلية مثل (الجمع المنزلي - النظافة
              الداخلية - نظافة السلم - و خدمات نقل الاثاث - تنظيف السجاد و
              المفروشات) وخدمات الشركات مثل (الرش و التعقيم - نظافة داخلية) و
              خدمات الصيانة مثل (السباكة - النجارة - النقاشة - الحدادة).
            </li>
          </ol>
        </div>
      </section>

      <section class="section section--grey">
        <div class="container section__grid">
          <section>
            <h3 class="section-title">
              اسوان جرين هو احدي مشروعات الجمعية المصرية للتنمية المتكاملة
            </h3>
            <section class="mt-3 paragraph-section">
              <p>
                الجمعية المصرية للتنمية التكاملة مشهرة برقم 5737 بتاريخ
                28/7/2004 والحاصلة على صفة النفع العام بقرار جمهوري رقم 125
                بتاريخ 1/8/2006 والجمعية بفضل الله هي إحدى الجمعيات الرائدة التي
                تعمل بمجال تنمية المجتمع على مستوى جمهورية مصر العربية
              </p>

              <p>
                وكل أعمال الجمعية يتم من خلالها منح المحتاجين أبسط مقومات الحياة
                الكريمة التي ترد في النهاية للفرد كرامته التي فطره الله عز وجل
                وعليها يصبح فرداً قادراً على العمل والكسب وأن يضيف لمجتمعه ووطنه
                وآمته.
              </p>
            </section>
          </section>
          <div style="padding: 75% 0 0 0; position: relative">
            <iframe
              id="videoFrame"
              src="https://player.vimeo.com/video/757247044?h=1c46ad4980&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              "
              title="WhatsApp Video 2022-10-05 at 6.02.24 PM.mp4"
            ></iframe>
          </div>
          <script defer src="https://player.vimeo.com/api/player.js"></script>
        </div>
      </section>
    </main>

    <footer class="section footer">
      <div class="footer__section container">
        <section class="footer__column text-center">
          <a href="./index.html" class="">
            <img
              class="logo"
              src="./static/assets/images/logo.svg"
              alt="لوجو الموقع"
            />
          </a>
          <p>احدي مشروعات</p>
          <a class="association" href="https://www.es4id.com/">
            <img
              class="association-logo--sm"
              src="./static/assets/images/association-logo.png"
              alt="association logo"
            />
            <h4 class="association-link footer__association-link">
              الجمعية المصرية للتنمية المتكاملة
            </h4>
          </a>
        </section>
        <section class="footer__column footer__sitemap">
          <h4 class="footer__title">روابط مهمة</h4>
          <a class="sitemap__item" href="./index.html">الرئيسية</a>
          <a class="sitemap__item" href="./about-us.html">من نحن؟</a>
          <a class="sitemap__item" href="./contact-us.html">تواصل معنا</a>
          <a class="sitemap__item" href="./our-services.html">اطلب خدمة</a>
          <a class="sitemap__item" href="./login">تسجيل الدخول</a>
        </section>
        <section class="footer__column">
          <h4 class="footer__title">تواصل معنا</h4>

          <p>66 طريق السادات امام الاكاديمية البحرية اعلي توكيل سيارات رينو</p>
          <p>01156114447</p>
          <p>01156114448</p>
          <section class="flex gap-3">
            <a href="https://web.facebook.com/es4id" aria-label="صفحة الفيسبوك"
              ><img
                class="footer__social-icon"
                alt="صفحة الفيسبوك"
                src="./static/assets/icons/facebook-f.svg"
            /></a>
          </section>
        </section>
      </div>
    </footer>

    <script defer src="./static/scripts/global.js"></script>
  </body>
</html>
